<!-- CHAT STRUCTURE -->
<div class="chatStructure">

    <!-- CHAT HEADER -->
    <div class="header">

        <!-- LOGO -->
        <div class="logo">
            <div class="fixed-size-icon">
                <i class="material-icons">smart_toy</i>
            </div>
        </div>

        <!-- TITLE -->
        <div class="title">
            <p>LSEG chatbot</p>
        </div>

        <!-- TRANSLATION -->
        <div class="translation">
            <div class="fixed-size-icon" (click)="changeLanguage(language.code, language.language, language.flag)">
                <i class="material-icons">language</i><span>{{(language.code | uppercase)}}</span>
            </div>
        </div>

        <!-- EXPORT -->
        <div class="export">
            <div class="fixed-size-icon">
                <i (click)="exportChat()" class="material-icons">download</i>
            </div>
        </div>

    </div>

    <!-- CHAT BODY -->
    <div class="body">
        <div *ngFor="let message of chatMessages">
            <app-chat-message [sentByClient]="message.sentByClient" [message]="message.text" [optionsList]="message.optionsList" (selectedOption)="replyToMessage($event)"></app-chat-message>
        </div>
    </div>

    <!-- CHAT INPUT -->
    <div class="input">
        <form class="chatInputForm">
            <mat-form-field>
                <input matInput type="text" [formControl]="messageFormControl" placeholder="{{('MESSAGE_INPUT' | translate)}}">
                <button matSuffix mat-icon-button aria-label="Send" (click)="sendMessage()">
                  <mat-icon>send</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>

</div>